<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:uvcms="http://www.uvcms.com/forms">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Form 1</title>
</head>
<body>
<h2>Vista html con control de formulario incluido.</h2>
<uvcms:forms>
	<uvcms:form>
		<uvcms:action>http://google.com</uvcms:action>
		<uvcms:fields>
			<uvcms:field>
				<uvcms:type>textarea</uvcms:type>
				<uvcms:name>message</uvcms:name>
				<uvcms:label>Mensaje</uvcms:label>
			</uvcms:field>
			<uvcms:field>
				<uvcms:type>submit</uvcms:type>
				<uvcms:label>Enviar</uvcms:label>
			</uvcms:field>
		</uvcms:fields>
	</uvcms:form>
</uvcms:forms>
</body>
</html>