<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title><?php print $title; ?></title>
    </head>
    <body>
        <h1>Available tests</h1>
        <ul>
            <li>
                <a href="<?php print Url::get_url('home','printing') ?>">Impresiones varias</a>
            </li>
            <li>
                <a href="<?php print Url::get_url('home','tooltips1') ?>">Tooltip utilizando jQuery</a>
            </li>
            <li>
                <a href="<?php print Url::get_url('home','tooltips2') ?>">Tooltip como plugin de jQuery</a>
            </li>
            <li>
                <a href="<?php print Url::get_url('home','xml') ?>">Incluir XML por AJAX</a>
            </li>
        </ul>
    </body>
</html>
