<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Tootlip examples</title>
        <script type="text/javascript" src="views/js/jquery-1.3.js">
        </script>		
        <script type="text/javascript" src="views/js/jquery.tooltip.js">
        </script>
        <script type="text/javascript" src="views/js/test.js">
        </script>
        <link type="text/css" rel="stylesheet" href="views/css/tooltip.css" />
    </head>
    <body>
        <p>
            Any given text... <a class="tooltip" href="#tooltip1">and a tooltip</a>.
        </p>
        <p>
            Unfortunately, designing this way highlights the flaws in the various implementations of CSS. Different browsers display differently, even completely valid CSS at times, and this becomes maddening when a fix for one leads to breakage in another. View the Resources page for information on some of the fixes available. Full browser compliance is still sometimes a pipe dream, and we do not expect you to come up with pixel-perfect code across every platform. But do test in as many as you can. If your design doesn’t work in at least IE5+/Win and Mozilla (run by over 90% of the population), chances are we won’t accept it. 
            Some text and another <a class="tooltip" href="#tooltip2">amazing tooltip</a>.
        </p>
        <p>
            We would like to see as much CSS1 as possible. CSS2 should be limited to widely-supported elements only. The css Zen Garden is about functional, practical CSS and not the latest bleeding-edge tricks viewable by 2% of the browsing public. The only real requirement we have is that your CSS validates.
        </p>
        <div id="tooltips">
            <span id="tooltip1">Tooltip for first link...</span>
            <span id="tooltip2">CSS allows complete and total control over the style of a hypertext document. The only way this can be illustrated in a way that gets people excited is by demonstrating what it can truly be, once the reins are placed in the hands of those able to create beauty from structure. To date, most examples of neat tricks and hacks have been demonstrated by structurists and coders. Designers have yet to make their mark. This needs to change.</span>
			<span id="notip">No tip available for this anchor.</span>
        </div>
        <a href="<?php print Url::get_url('home', 'index'); ?>">back</a>
    </body>
</html>
